*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration: none;
    font-family:"Comic Sans MS",sans-serif;
}

body{
    background-image:url(bg-img\ \(1\).jpg);
    background-position:center;
    background-size: cover;
    width:100%;
    height:100vh;
    color:#fff;
    /* color:#000; */
}


header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:15px;
    box-shadow:0 0 10px black;
}

.logo{
    font-size:30px;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    align-items:center;
    gap:22px;
}

.navbar{
    margin-left:500px;
}


.navbar ul li a{
    color:#000;
    transition:.3s;
}

.navbar ul li a:hover{
    text-decoration:underline;
    color:yellow;
}

.button{
    display:flex;
    align-items:center;
    gap:20px;
    margin-right:10px;
}

.button button{
    width:100px;
    padding:5px;
    border:1.2px solid white;
    border-radius:5px;
    box-shadow:0 0 10px black;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    /* color:#000; */
    cursor: pointer;
    background: transparent;
    transition:.4s;
}

.button button:hover{
    box-shadow:0 0 10px yellow;
}

/* hero style */

.hero{
    display:flex;
    justify-content:space-between;
    gap:5;
    
}

.hero form{
   padding:20px;
   border:2px solid white;
   border-radius:5px;
}

.right{
    margin-top:120px;
    margin-left:50px;
}

.right p{
    width:50%;
}

.right h1{
    font-size:40px;
    font-weight:bold;
    color:white;
}
.right h2{
    font-size:40px;
    color:white;
    font-weight:bold;
}
.right h2 span{
    font-size:40px;
    color:black;
    font-weight:bold;
}

.right p{
    color:#000;
}

.btn{
    margin-top:20px;
    width:120px;
    padding:7px;
    background:yellowgreen;
    color:#000;
    border:none;
    outline:none;
    box-shadow: 0 22px 30px yellow;
    font-size:16px;
    font-weight: bold;
    border-radius:5px;
    cursor: pointer;
    transition:.4s;
    scale:1.1;
    box-shadow: 0 22px 30px black;
}

.btn:hover{
    scale:1.1;
    box-shadow: 0 22px 30px rgb(180, 15, 15);
}


.left{
    margin-right:100px;
    margin-top:100px;
}

.left form{
    text-align:center;
}

.inp-box{
    margin-top:10px;
}

.sanjay{
    padding:5px;
    background-color:transparent;
    font-size:15px;
    box-shadow:whitesmoke;
    color: #000;
    border-radius:4px;
    border:1px solid white;
    outline: none;
}

::placeholder{
    color:#000;
}

.btnn{
    margin-top:34px;
    width:100%;
    padding:6px;
    border-radius:5px;
    background:yellowgreen;
    color:black;
    font-size:16px;
    font-weight:bold;
    cursor: pointer;
    transition:.4s;
    outline:none;
    border:none;
}

.btnn:hover{
    box-shadow:0 0 12px white;
}